__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.swp
*.DS_Store

venv/
.env/
.venv/

.ipynb_checkpoints/

.vscode/

*.pt
*.pth
*.ckpt
*.npy

data/*
!data/README.md

data/lfw-deepfunneled/
data/archive/

logs/
*.log

cache/
*.cache